<section id="top" class="page-header">
  {% if page.title == 'Contact About' %}
    {{ content }}
  {% else %}
    <div>
      <a href="{{ site.url }}" title="Home"><img src="https://www.keepandshare.com/graphics/thirdparty/oem_logos/10/183130-1423513517.jpg" alt="logo main page link"></a>
    </div>
  {% endif %}
    <div>
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.tagline }}</h2>
      <a href="http://heartandhandstraining.github.io/CNA/" class ="btn">CNA</a>
      <a href="http://heartandhandstraining.github.io/wbdv/" class="btn">WEB</a>
      <a href="http://vikingsheepart.github.io/main/" class="btn">VSA</a>
      <a href="<a href="https://www.jw.org/" class="btn">GOD</a>
      <a href="#footer-icons" title="Footer Icon Links" class ="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="7.219" height="8.124">
          <path d="M2.447 0v3.038H0l1.8 2.08L3.6 7.2l1.8-2.081 1.8-2.081H4.908V0H2.447z" fill="#fff" stroke="#fff" stroke-width=".9"/>
          <path d="M.02 7.674h7.199" fill="#fff" stroke="#fff" stroke-width=".9"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="7.219" height="8.124">
          <path d="M2.447 0v3.038H0l1.8 2.08L3.6 7.2l1.8-2.081 1.8-2.081H4.908V0H2.447z" fill="#fff" stroke="#fff" stroke-width=".9"/>
          <path d="M.02 7.674h7.199" fill="#fff" stroke="#fff" stroke-width=".9"/>
        </svg>
      </a>
      {% if page.title == 'Mom is Free' %} 
      <div class=" meta">updated {{ page.date | date: "%b %-d, %Y" }}
      </div>
      </span>
      {% endif %}
    </div>
  </div>
</section>


