<section id="top" class="page-header">
  {% if page.title == 'Contact About' %}
    {{ content }}
  {% else %}
    <div>
      <a href="{{ site.url }}" title="Home"><img src="https://www.keepandshare.com/graphics/thirdparty/oem_logos/10/183130-1423513517.jpg" alt="logo main page link"></a>
    </div>
  {% endif %}
    <div>
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.tagline }}</h2>
      <a href="{{site.base_url}}/posts/" title="All Topics Posts: GOD" class="btn">GOD</a>
      <a href="{{site.base_url}}/Mom-is-Free/" class="btn">MOM</a>
       <a href="http://heartandhandstraining.github.io/wbdv/" class="btn">WEB</a>
      <a href="http://heartandhandstraining.github.io/CNA/" class ="btn">CNA</a>
      <a id="arrow"href="#footer-icons" title="Footer Icon Links" class ="btn">VVV
      </a>
      {% if page.title == 'Mom is Free' %} 
      <div class=" meta">updated {{ page.date | date: "%b %-d, %Y" }}
      </div>
      </span>
      {% endif %}
    </div>
  </div>
</section>


